.father{
    box-sizing: border-box;
    border: 3px solid crimson;
    background-color: grey;
    display: flex;
    width: 1000px;
    flex-direction: column;

    row-gap: 10px;
    flex-wrap: wrap;
}




.double{
    display: flex;
    column-gap: 10px;



}

.header{
    box-sizing: border-box;
    border: 3px solid yellow;
    width: 1000px;
    height: 50px;

}
.nav{
    box-sizing: border-box;
    border: 3px solid yellow;
    width: 1000px;
    height: 50px;
}

.main{
    box-sizing: border-box;
    border: 3px solid yellow;
    width: 70%;
    height: 75px;

}
.aside{
    box-sizing: border-box;
    border: 3px solid yellow;
    width: 30%;
    height: 75px;


}
footer{
    box-sizing: border-box;
    border: 3px solid yellow;
    width: 1000px;
}