@media screen and (max-width: 600px) {
    .father {
        height: auto;
        width: 100%;


    }

    .peoples {
        flex-direction: column;
        width: 100%;

    }

    .mother {
        padding-top: 10px;
        height: auto;
        width: 100%;
        flex-wrap: wrap;
    }

    .teachers {
        padding-top: 10px;


    }
}
/*@media (orientation: landscape) {*/
/*    */
/*}*/
/*    */

/*}*/



