.father{
    display: flex;
    background-color: silver;
    width: 1000px;
    height: 500px;
    flex-direction: row;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}


.peoples{
    border: 1px solid lightgoldenrodyellow;
    box-sizing: border-box;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;

}
h1{
    font-size: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 20px;
    margin-top: 10px;
}