body{

    font-family: 'Montserrat', sans-serif;
}

.father{

    display: flex;
    background-color: silver;
    width: 1000px;
    height: 350px;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-evenly;
    align-items: center;


}


.peoples{

    margin-top: 100px;
    border-radius: 5%;
    box-sizing: border-box;
    display: flex;
    width: 200px;
    height: 200px;
    background-color:darkseagreen;

}
h1{
    font-size: 20px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-bottom: 300px;
    margin-left: 20px;
    margin-top: 10px;
}
.vasya{
    display: flex;
    flex-direction: column;
    margin-left: 3px;


}
p {
    display: flex;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.mother{
    display: flex;
    background-color:darkseagreen;
    width: 1000px;
    height: 350px;
    flex-direction: row;
    column-gap: 30px;
    justify-content: space-evenly;
    align-items: center;

}
.prepods{
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    width: 200px;
    height: 200px;
    background-color: silver;

}
