.father{
    background-color: silver;
    display: flex;
    width: 1000px;
    flex-direction: column;

}
.Header{
    box-sizing: border-box;
    border: 3px solid gold;
    background-color: lightsteelblue;
    width: 800px;
}
