.father{
    background-color: silver;
    display: flex;
    width: 800px;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;

}
.Header{
    box-sizing: border-box;
    border: 3px solid gold;
    background-color: lightsteelblue;
    width: 800px;
}

.Menu{
    box-sizing: border-box;
    border: 3px solid crimson;
    background-color: darkseagreen;
    display: flex;
    height: 430px;
    width: 160px;
}

.content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-self: flex-end;
    margin-top: -450px;


}


.post{

    width: 550px;
    height: 200px;
    border: 3px solid slateblue;
    background-color: burlywood;
}

footer{
    box-sizing: border-box;
    border: 3px solid brown;
    width: 800px;
}